<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
  
        <a mat-list-item routerLink="profile" *ngIf="auth.loggedIn">Profile</a>
  
        <a mat-list-item [matMenuTriggerFor]="menu">
          Tous les Compteurs
          <mat-icon aria-hidden="false" aria-label="Example home icon">expand_more</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <button 
            mat-menu-item
            *ngFor='let counter of counters'
            [routerLink]="'counter/' + counter.id">{{ counter.name }}</button>