<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
<mat-nav-list>
    <a routerLink="/">Home</a>&nbsp;
    <a routerLink="/profile" *ngIf="auth.loggedIn">Profile</a>
    <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
    <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
    <a mat-list-item [matMenuTriggerFor]="menu">
      Compteurs
      <mat-icon aria-hidden="false" aria-label="Example home icon">expand_more</mat-icon>
    </a>
    <mat-menu #menu="matMenu">
      <button 
        mat-menu-item
        *ngFor='let counter of counters'
        [routerLink]="'counter/' + counter.id">{{ counter.name }}</button>
    </mat-menu>
  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>